
  <div class="container-fluid bg-3 text-center top-jum">
	<div class="p-2 bd-highlight"></div>    
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
		<p class="display-4 painel">Sistema Administrativo do CPA/M-2</p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-2 itens">
		<button onclick="window.location.href='?pagina=documentNumerator'" class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/dashboard-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
  
	  <div class="col-md-2 itens"> 
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/people-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
  
	  <div class="col-md-2 itens"> 
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/account-login-8x.png" alt="login"></button>
	  </div>
  
	  <div class="col-md-2 itens">
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/pie-chart-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
  
	  <div class="col-md-2 itens">
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/tag-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens">
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/dashboard-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	</div>
  </div><br>
  
  <div class="container-fluid bg-3 text-center">    
	<div class="row">
	  <div class="col-md-2 itens">      
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/wrench-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens"> 
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/task-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens"> 
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/tags-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens">
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/shield-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens">
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/paperclip-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens">
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/monitor-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	</div>
  </div><br>
  
  <div class="container-fluid bg-3 text-center">    
	<div class="row">
	  <div class="col-md-2 itens">      
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/minus-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens"> 
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/microphone-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens"> 
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/map-marker-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens">
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/map-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens">
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/location-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	  <div class="col-md-2 itens">
		<button class="btn btn-item"><img src="lib/Icons/open-iconic-master/png/document-8x.png" alt="Página Inicial" placeholder="Página Inicial"></button>
	  </div>
	</div>
  </div><br><br>